.navbar {
  background: transparent !important;
}

.button-saya {
  background-color: #1053b8; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.button-saya1 {
  background-color: #1053b8; /* Green */
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 10px;
  height: 20px;
}

.header {
  margin-top: -60px;

  text-align: center;

  color: white;
  font-size: 30px;
  min-height: 20px;
}

.jumbotron {
  margin-top: -60px;
  padding-top: 200px;
  background: #4500e6;
  height: 700px;
  color: white;
}
.jumbotron img {
  height: 555px;
  margin-top: -55px;
  margin-left: 100px;
}
body {
  background: rgb(239, 255, 241);
  font-family: "Roboto", sans-serif;
}
.btn-satu {
  color: white;
  background-color: #1053b8;
  height: 200px;
}

.kartu .card {
  width: 25rem;
  height: 30rem;
  border-radius: 20px;
  padding-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(38, 0, 255, 0.2);
}
/* .card h4 {
  font-size: 25px;
  font-weight: bold;
} */

.kartu {
  margin-top: 190px;
}

.gambar-card {
  margin-top: 50px;
  background: url("folder/atikh-bana-_KaMTEmJnxY-unsplash.jpg");
  background-size: cover;
  height: 100px;
  width: 150px;
  border-radius: 20px;
}
.kertas {
  background: white;
  border-radius: 10px;
  padding-top: 20px;
  width: 500px;
  height: 75px;
  font-size: 14px;
}
.kertas a {
  margin-left: 40px;
}
.kertas button {
  background-color: #1053b8; /* Green */
  border: none;
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 10px;
}

.kertas {
  color: #1053b8;
}

.kertas-gambar {
  background-color: white;
  color: black;
  margin-top: -40px;
  margin-left: 100px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(44, 6, 255, 0.2);
  width: 400px;
  height: 70px;
  border-radius: 15px;
  padding-left: 50px;
  padding-top: 23px;
}

.halaman2 {
  margin-top: 10rem;
}

.halama2-kartu .card {
  height: 15rem;
  border-radius: 15px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(44, 6, 255, 0.2);
}

.angka {
  color: #1053b8;
  text-align: center;
  background: #c3c7ff;
  width: 30px;
  border-radius: 10px;
  height: 26px;
}

.kartu-3 img {
  background-size: cover;
  height: 50px;
  border-radius: 50%;
}
.kartu-3 .card {
  border-radius: 10px;
  height: 200px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(44, 6, 255, 0.2);
}

.button-kertas {
  margin-left: 310px;
  background: #b0cfff;
  border-radius: 10px 0px;
  height: 40px;
}

.kotak-4 {
  margin-top: 100px;
  height: 250px;
  width: 1300px;
  background-color: #1053b8;
  border: none;
  border-radius: 10px;
}

.footer {
  margin-top: 200px;
  background-color: #1053b8;
  height: 300px;
}
